[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.16"
djangorestframework = "*"
psycopg2 = "*"
django-import-export = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.12"
